@{
    ViewData["Title"] = "Delete Entertainer";
}

@model Entertainers

<div class="text-center py-5">
    <h2 class="display-4 mb-4">Confirm Deletion</h2>
    <h3 class="text-muted mb-4">Are you sure you want to delete the Entertainer @Model.EntStageName?</h3>

<form method="post" asp-controller="Home" asp-action="Delete">
    <button type="submit" class="btn btn-danger btn-lg mr-5">Delete</button>
    <a asp-controller="Home" asp-action="Waitlist" class="btn btn-primary btn-lg">Cancel</a>

    <input type="hidden" asp-for="EntertainerID" />
</form>
</div>
