@{
    ViewData["Title"] = "New Entertainer";
}

@model Final.Models.Entertainers

<div class="container my-5">
    <h1 class="text-center display-4 mb-4">Fill out this information</h1>
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="EntStageName">Entertainer Stage Name:</label>
                    <input asp-for="EntStageName" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="EntSSN">Entertainer SSN:</label>
                    <input asp-for="EntSSN" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="EntStreetAddress">Street Address:</label>
                    <input asp-for="EntStreetAddress" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="EntCity">City:</label>
                    <input asp-for="EntCity" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="EntState">State:</label>
                    <input asp-for="EntState" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="EntZipCode">Zip Code:</label>
                    <input asp-for="EntZipCode" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="EntPhoneNumber">Phone Number:</label>
                    <input asp-for="EntPhoneNumber" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="EntWebPage">Web Page:</label>
                    <input asp-for="EntWebPage" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="EntEMailAddress">Email Address:</label>
                    <input asp-for="EntEMailAddress" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="DateEntered">Date Entered:</label>
                    <input asp-for="DateEntered" class="form-control" />
                </div>

                <button type="submit" class="btn btn-primary btn-lg btn-block my-4">Submit</button>
            </form>
        </div>
    </div>
</div>