@{
    ViewData["Title"] = "My Podcasts";
}
<h1>@ViewData["Title"]</h1>
@*A separate page that links to the podcast*@
<p>Here is a link to my awesome podcast about movies!</p>
<a href="https://baconsale.com/">Podcast</a>
